<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the gallery page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    

</head>

<body class="grade">


    <header>
        
        <div class="navbar">
            <a href="/service"><h2>Secret</h2></a>


            <div class="Logo">
                <a class="logo"> <span>T</span>ravel</a>
            </div>
            <div class="navlink">
                <button onclick="myFunction()"><a href="#">Home</a></button>
                <button onclick="myFunction()"><a href="#">Book</a></button>
                <button onclick="myFunction()"><a href="#">packages</a></button>
                <a href="#">Gallery</a>
                <button onclick="myFunction()"><a href="#">About us</a></button>
            </div>
            <div class="icons"> &nbsp;&nbsp;&nbsp;
                <i class=" fas fa-user plus" id="login-icon"></i> 
                <p>𝓐𝓷𝓴𝓲𝓽</p>


            </div>
            <form action="" class="search-bar">
                <input type="search" id="search-button" placeholder="search here">
                <label for="seach-button" class="fas fa-search"></label>
            </form>
            <a href="logout"><h2>Logout</h2></a>
            <!-- <a href="logout" class="logout-btn"><h2>Logout</h2></a> -->
        </div>

        
    </header>

   <!-- gradient -->
    <!-- <div class="grading">
        <div class="gradient A">
            <svg height="60" width="200">
                <text x="0" y="15" fill="white" transform="rotate(-30 110,-65)">Punya</text>
              </svg>
        </div>
        <div class="gradient N">
            <svg height="60" width="200">
                <text x="0" y="15" fill="blue" transform="rotate(-30 109,-65)">Sandeep</text>
              </svg>
        </div>
        <div class="gradient K">
            <svg height="60" width="200">
                <text x="0" y="15" fill="violet" transform="rotate(-30 109,-65)">Ankit</text>
              </svg>
        </div>
        <div class="gradient I">
            <svg height="60" width="200">
                <text x="0" y="15" fill="red" transform="rotate(-30 109,-65)">Nikhil</text>
              </svg>
        </div>
        <div class="gradient T">
            <svg height="60" width="200">
                <text x="0" y="15" fill="green" transform="rotate(-30 109,-65)">Akash</text>
              </svg>
        </div>

    </div> -->



    <div class="navbarr">
        <img class="mySlides" src="pics/slide4.jpg">
        <img class="mySlides" src="pics/saputara.png">
        <img class="mySlides" src="pics/slide7.jpg">
        <img class="mySlides" src="pics/slide5.jpg">
        <img class="mySlides" src="pics/slide6.jpg">
    </div>

    <div class="nav">
        <li>RECENT FAMOUS DESTINATION</li>
    </div>
    <div class="images">
        <div class="middle">
            <img src="pics/tajmahal2.jpg" class="photo" alt="Tajmahal">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> TAJMAHAL </h2>
            <div class="text">
                An immense mausoleum of white marble, built in Agra between 1631 and 1648 by order of the Mughal emperor
                Shah Jahan in memory of his favourite wife, the Taj Mahal is the jewel of Muslim art in India and one of
                the universally admired masterpieces of the world's heritage.
            </div>
        </div>

        <div class="middle">
            <img src="pics/patan.jpg" class="photo" alt="Patan">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> PATAN </h2>
            <div class="text">
                Patan, the former capital of Gujarat, is a place famous for Patola sarees, one of the finest hand-made
                textiles in the world. One can see this exquisite fabric being woven here. The Patan Patola is one of
                the finest hand-woven textiles produced the world over.
            </div>
        </div>

        <div class="middle">
            <img src="pics/darjeeling.jpg" class="photo" alt="Darjeeling">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> DARJEELING </h2>
            <div class="text">
                Darjeeling is a town in India's West Bengal state, in the Himalayan foothills. Once a summer resort for
                the British Raj elite, it remains the terminus of the narrow-gauge Darjeeling Himalayan Railway, or “Toy
                Train,” completed in 1881. It's famed for the distinctive black tea grown on plantations that dot its
                surrounding slopes. Its backdrop is Mt. Kanchenjunga, among the world’s highest peaks.
            </div>
        </div>



    </div>
    <div class="images">
        <div class="middle">
            <img src="pics/manali.jpg" class="photo" alt="Manali">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> MANALI </h2>
            <div class="text">
                Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a
                reputation as a backpacking center and honeymoon destination. Set on the Beas River, it’s a gateway for
                skiing in the Solang Valley and trekking in Parvati Valley. It's also a jumping-off point for
                paragliding, rafting and mountaineering in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.
            </div>
        </div>

        <div class="middle">
            <img src="pics/hawamahal.jpg" class="photo" alt="Hawamahal">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> HAWA MAHAL </h2>
            <div class="text">
                Jaipur is the capital of India’s Rajasthan state. It evokes the royal family that once ruled the region
                and that, in 1727, founded what is now called the Old City, or “Pink City” for its trademark building
                color. At the center of its stately street grid (notable in India) stands the opulent, colonnaded City
                Palace complex. With gardens, courtyards and museums, part of it is still a royal residence.
            </div>
        </div>

        <div class="middle">
            <img src="pics/shimla.jpg" class="photo" alt="Shimla">
            <br>
            <pre> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>                                          <i class="fa-regular fa-heart"></i></pre>
            <h2> SHIMLA </h2>
            <div class="text">
                Shimla is the capital of the northern Indian state of Himachal Pradesh, in the Himalayan foothills. Once
                the summer capital of British India, it remains the terminus of the narrow-gauge Kalka-Shimla Railway,
                completed in 1903. It’s also known for the handicraft shops that line The Mall, a pedestrian avenue, as
                well as the Lakkar Bazaar, a market specializing in wooden toys and crafts.
            </div>
        </div>


    </div>
    <!-- <footer class="grade_foot">
        <div class="copy">
        <h1>&copy;</h1>
        <br>
        keep smilling &nbsp;<span class="smile">:)</span>
    </div>
    </footer> -->



</body>


<script>
    var slideIndex = 0;
    carousel();


    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 2000);
    }

    function myFunction() {
        alert("Only Gallery page is working for now 🚫!");
    }

</script>

</html>